streamlit
pandas
numpy
plotly
scipy
requests
lxml
bizdays
python-bcb
pandas-datareader
python-dateutil
matplotlib
pandas
yfinance
requests
pyarrow  # Para suporte a arquivos parquet
plotly    # Para gráficos interativos
markdown
streamlit_option_menu
